<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%-messages()%>
<form action="/">
    <label for="fname">First Name:</label>
    <input type="text" id="fname" name="account_firstname" required>
    <label for="lname">Last Name:</label>
    <input type="text" id="lname" name="account_lastname" required>
    <label for="email">Email:</label>
    <input type="email" id="email" name="account_email" required>
    <label for="pwd">Password:</label>
    <input type="password" id="pwd" name="account_password" required pattern="(?=.*[0-9]) (?=.*[A-Z]) (?=.*[^0-9a-zA-Z]).{12,}">
    <p>Password must contain 1 capital letter, 1 number, 1 special character and to be at least 12 characters long.</p>
    <input type="submit" value="Submit" id="submitButton">
  </form>