<nav class="navigation">
    <a href="#" class="navi">Home</a>
    <a href="#" class="navi">Custom</a>
    <a href="#" class="navi">Sedan</a>
    <a href="#" class="navi">SUV</a>
    <a href="#" class="navi">Truck</a>
  </nav>