<%# The Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<h1></h1>
<form action="/inv/add-new-classification" method="post">
    <label for="classification_name">New Classification of Vehicle:</label>
    <input id="classification_name" type="text" name="classification_name" pattern="^[a-zA-Z0-9]+$" required>
    <span>The classification cannot contain a space or special character of any kind.</span>
    <input type="submit" value="Submit" id="submitButton">
</form>