<%# The Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
<p>This page has been found a traitor to the republic and has been terminated.</p>
<p>Run along before the same fate meets you.</p>