<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<form action="/inbox/send" method="post">
    <span>All inputs are required.</span>
    <label for="recipient">Recipient</label>
    <%- recipients%>
    <label for="subject">Subject</label>
    <input type="text" required name="subjectLine">
    <label for="message">Message</label>
    <textarea required name="message">Write your message here.</textarea>
    <button id="sendNewMessage">Send</button>
</form>