<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
<ul><a href="/inbox/new/">Create New Message</a></ul>
<!-- <ul><a href="#">View <%# archived %> Archived Message(s)</a></ul> -->
<table>
  <tr>
    <th>Received</th>
    <th>Subject</th>
    <th>From</th>
    <th>Read</th>
  </tr>
  <tr>
    <th>07/3/2023</th>
    <th><a href="#">Sample</a></th>
    <th>Server</th>
    <th>FALSE</th>
  </tr>
</table>