<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<a href="/inbox/new/">Create New Message</a>
<a href="/inbox/archive/">View <%- archivedNumber %> Archived Message(s)</a>

<h2>Your Messages</h2>
<%- messageTable%>
