<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<h2>Subject: </h2>
<p><%- subject %></p>
<h2>From: </h2>
<p><%- messageFrom%></p>
<h2>Message: </h2>
<p><%- messageBody%></p>
<p>----------------------------------------------------------------------------</p>
<button href="/inbox">Return to Inbox</button>
<button href="/inbox/reply">Reply</button>
<button href="/inbox/read">Mark as Read</button>
<button href="/inbox/archive">Archive Message</button>
<button href="/inbox/delete">Delete Message</button>