<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%# actualMessage%>
<button href="#">Reply</button>
<button href="#">Mark as Read</button>
<button href="#">Archive Message</button>
<button href="#">Delete Message</button>